*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
h1{
    font-size: 3.6rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

@media screen and (max-width: 950px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
}

/* --------------nav-section---------------------- */
.nav-section{

    padding: 2em 2em;
}
.navbar-nav{
    display: flex;
    width: 60%;
    margin: auto;
    font-weight: 700;
    justify-content: space-around;
}
.navbar-nav span{
    color: white;
}
.hero-section{
   
    
      
}
.hero-img{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(33, 28, 28);
    
    height: 100vh;
    width: 50%;
    
    z-index: -999;
    background: url("https://cdn.dribbble.com/users/891352/screenshots/2816929/media/27ec9ed3286c2c38610a4d9369e73358.gif");
     
  
    background-position: center;
}
.intro{
  
    width: 50%;
    height: 89vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 5rem 4rem;
}
#i1,#i3{
    font-weight: 100;
}
#i3{
    background-color: #ee7155;
    
    
    font-size: 2rem;
    
    padding: 0.4em 0.4em;
}

@media screen and (max-width: 750px) {
    /* body{
        background-color: pink;
    } */
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.1rem;
    }
    h3{
        font-size: 0.8rem;
    }
    h1,h2,h3,a{
        color: white;
    }
    #i3{
        
        font-size: 1.1rem;
        
    }
    .intro{
        width: 100%;
        
    }
    .hero-img{
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0% 70%;
        background-color: rgb(33, 28, 28);
    }
    .nav-links{
       font-size: 0.8rem; 
    }
    .navbar-nav{
        width: 80%;
    }
}